<table>
  <tr>
    <td>
      Número total de preguntas: <%= statistics.totalQuizes %>
    </td>
  </tr>
  <tr>
    <td>
      Número total de comentarios: <%= statistics.totalComments %>
    </td>
  </tr>
  <tr>
    <td>
      Número medio de comentarios por pregunta: <%= statistics.avgCommentsQuiz %>
    </td>
  </tr>
  <tr>
    <td>
      Número de preguntas sin comentarios: <%= statistics.numQuizesSinComments %>
    </td>
  </tr>
  <tr>
    <td>
      Número de preguntas con comentarios: <%= statistics.numQuizesConComments %>
    </td>
  </tr>
</table>
